@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #171717; /* neutral-900 */
  color: white;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}